<div class="sticky top-0 z-40 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8">
  <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" data-action="sidebar#toggle">
    <span class="sr-only">Open sidebar</span>
    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
    </svg>
  </button>

  <div class="flex flex-1 gap-x-4 self-stretch lg:gap-x-6">
    <div class="flex flex-1 items-center">
    </div>
    <div class="flex items-center gap-x-4 lg:gap-x-6">
      <span class="text-sm text-gray-500"><%= l(Date.current, format: :long) %></span>
    </div>
  </div>
</div>
