@import "tailwindcss";

@theme {
  --color-primary: var(--clinic-primary, #4F46E5);
  --color-primary-light: var(--clinic-primary-light, #818CF8);
  --color-primary-dark: var(--clinic-primary-dark, #3730A3);
}
